.aboutContainer {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  padding: 3rem;

  .upperContainer {
    display: flex;
    max-height: 350px;

    .imageContainer {
      display: flex;
      justify-content: end;

      .upperImg {
        height: 100%;
        border-radius: 0.9375rem;
        border: 3px solid var(--main-color);
        box-shadow: -5px 5px 10px black;
      }
    }

    .upperTextContainer {
      display: flex;
      flex-direction: column;
      padding: 1.5rem 10rem 1.5rem 2rem;

      .upperTitle {
        font-family: "Aristotelica";
        font-size: 2.5rem;
        text-shadow: -3px 3px 5px black;
        margin-bottom: 1rem;
      }

      .upperText {
        font-weight: 300;
        font-size: 1.75rem;
        text-align: justify;
        text-shadow: -2px 2px 2px black;
      }
    }
  }

  .lowerContainer {
    display: flex;
    margin-top: 1.5rem;
    padding: 0 10rem;
    height: 350px;

    .lowerText {
      font-weight: 300;
      font-size: 1.75rem;
      align-self: center;
      text-align: justify;
      text-shadow: -2px 2px 1px black;
      padding-right: 2rem;
    }

    .imageLowContainer {
      padding-bottom: .9375rem;
      .lowerImg {
        height: 100%;
        border-radius: 0.9375rem;
        border: 3px solid var(--main-color);
        box-shadow: -5px 5px 10px black;
      }
    }
  }
}
