@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

@font-face {
  font-family: "Aristotelica";
  src: url("../../fonts/Aristotelica-DemiBold.ttf");
  font-weight: bold;
  font-style: bold;
}

.homeContainer {
  margin: 2.5rem 2.5rem 0 2.5rem;
  display: grid;
  background: var(--bg-color);
  color: var(--text-color);
  grid-template-columns: 34.375rem 1fr 1fr;
  grid-template-rows: 1fr 12.5rem;
  grid-template-areas:
    "image text text"
    "bottom bottom bottom";
}

.outImgContainer {
  grid-area: image;
  padding: 0.9375rem;

  .outImg {
    border-radius: 0.9375rem;
    border: 3px solid var(--main-color);
    width: 100%;
    box-shadow: -5px 5px 10px black;
  }
}

.mainTextContainer {
  grid-area: text;
  margin-top: 1.125rem;
  padding: 0 6.25rem 0 0.625rem;

  .mainTitle {
    font-family: "Aristotelica";
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: -2px 2px 5px black;
    margin-bottom: 2.5rem;
  }

  .mainText {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.5862rem;
    text-shadow: -2px 2px 3px black;
    margin-bottom: 1.25rem;
  }

  .greeting {
    display: inline-block;
    font-family: "Aristotelica";
    font-size: 1.5625rem;
    margin-bottom: 1.25rem;
  }

  .location {
    display: inline-block;
    margin-bottom: 0.625rem;
  }
}

.bottomImages {
  grid-area: bottom;
  display: flex;
  margin-top: 1.25rem;
  padding: 0 5rem;
  justify-content: space-around;

  .services {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    filter: drop-shadow(-5px 5px 4px black);

    .serviceImg {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 0.625rem;
      border: 3px solid var(--main-color);
    }

    .serviceLink {
      display: inline-flex;
      width: 100%;
      height: 100%;
      color: var(--text-color);
    }

    .serviceTitle {
      position: absolute;
      color: var(--text-color);
      font-family: "Roboto Condensed";
      font-size: 1.5rem;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      text-shadow: -3px 3px 5px black;
    }

    .servicesHover {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.625rem;
      background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      padding: 0.7rem;
      transform: translateY(100%);
      transition: 0.5s ease;

      .hoverTitle {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        font-family: "Roboto Condensed";
      }

      .hoverText {
        font-size: 1rem;
        font-family: "Roboto";
        font-weight: 300;
      }
    }

    &:hover .serviceTitle {
      display: none;
    }

    &:hover .servicesHover {
      transform: translateY(0);
    }
  }
}
