@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/interior.jpg");
}

a {
  text-decoration: none;
}

:root {
  min-height: 100vh;
  --bg-color: #18181b;
  --main-color: #f19409;
  --text-color: #fff;
}
